my likes page

<body>    

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="jumbotron">
          <h3>
            <%= @user.username %>
          </h3>
        </div>
      </div>
    </div>
    

<% @userlikes.each do |like| %>
    
    <div class="row mb-5">
      <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                  <% photo_originator = Photo.where(id: like.photo_id).first.user_id %>
                  <a href="/users/<%= photo_originator %>"><%= User.where(id: photo_originator).first.username %></a>
                  <small>
                    <%= time_ago_in_words(Photo.where(id: like.photo_id).first.created_at) %> ago
                  </small>
                </h4>
            </div>

            <div class="card-body">
                <a href="/photos/<%= like.photo_id %>">
                     <img src="<%= Photo.where(id: like.photo_id).first.image %>" class="img-fluid">
                </a>
                <%= Photo.where(id: like.photo_id).first.caption %>
            </div>
            
            <form action="/create_like" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              
              <input name="authenticity_token" type="hidden" value="wWRk6ZyHrYb+mHzvOt0jkZUqzr627sqDxsA6PI2LLI/AU3d7OdKjxkuLMPIMmPlWUP+zDJC+0ETKHnu4WByLMQ==">
             
                <input type="hidden" name="photo_id" value="<%= like.photo_id%>">

                <input type="hidden" name="user_id" value="<%= current_user.id %>">

                <small>
                  <% Like.where(photo_id: like.photo_id).each do |like| %>
                    <%= User.where(id: like.user_id).first.username %>,
                  <% end %>
                  like this
                </small>
                

                <a href="/delete_like/<%= like.id %>" class="btn btn-link pull-right">
                  <i class="fas fa-heart"></i> 
                  Unlike
                </a>

            </form>
            
            <div>
              <% Comment.where(photo_id: like.photo_id).each do |comment| %>
                <small>
                <div>
                  <a href="/users/<%=comment.user_id%>"><%= User.where(id: comment.user_id).first.username %></a>
                  <%= time_ago_in_words(comment.created_at) %> ago 
                
                <div>
                  <%= comment.body %>
                </div>
                </div>
                </small>
              <% end %>
            </div>
            
          <p>
          <form action="/create_comment" method="post" class="pt-4">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <input name="authenticity_token" type="hidden" value="HtFYBK0U12Y4YWPXUWnyruxatB2bqIO5v82sH+4BtqSTEWAuByAuADPB7ahlxqfRQMHhBCh1aEdZd8INFwYsGg==">

                  <input type="hidden" name="photo_id" value="<%= like.photo_id %>">

                  <input type="hidden" name="user_id" value="<%= current_user.id %>">

                  <!-- Label and input for body -->
                  <div class="form-group">
                    <label for="body" class="sr-only">
                      Body
                    </label>

                    <div class="input-group">
                      <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                      <span class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                          <i class="far fa-comment"></i>

                          Add Comment
                        </button>
                      </span>
                    </div> <!-- input-group -->
                  </div>  <!-- form-group -->
            </form>
            </p>
            
            
        </div>
      </div>
    </div>
<% end %>



</body>